---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"a">, "href" | "class"> {
	fileName?: string;
	class?: string | null | undefined;
}

const { fileName = "", class: addtlClass = "", ...attrs } = Astro.props;

const href = `/${fileName}` as const;
const slug = Astro.url.pathname.split("/").at(-1)?.split(".").at(0) ?? "";
const current = slug === fileName;
const className = current ? `current ${addtlClass ?? ""}`.trim() : addtlClass || undefined;
---

<!-- prettier-ignore -->
<Fragment>
	{
		current ? (
			// prettier-ignore
			<a href={href} class={className} {...attrs}><slot /><span class="visually-hidden"> (current)</span></a>
		) : (
			// prettier-ignore
			<a href={href} class={className} {...attrs}><slot /></a>
		)
	}
</Fragment>
