---
import "../styles/variables.css";
import "../styles/colors.css";
import "../styles/code.css";
import "../styles/typography.css";
import "../styles/style.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
	/**
	 * The class that should be on the document's `<main>` tag.
	 *
	 * @default "content"
	 */
	contentClass?: string;

	/**
	 * The content title.
	 */
	title?: string;

	/**
	 * The content description.
	 */
	description?: string;
}

const {
	contentClass = "content",
	title = "An Average Developer",
	description = "Helpful open-source software.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noai" />
		<title>{title}</title>
		<link rel="icon" type="image/png" href="data:image/png;base64," />
		<link rel="author" href="humans.txt" />
		<link
			rel="alternate"
			href="/ways/feed.xml"
			type="application/rss+xml"
			title="RSS feed for avg's Ways folder"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="description" content={description} />
		<meta name="twitter:card" content="summary" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<slot name="header">
			<Header />
		</slot>

		<main class={contentClass}>
			<slot>
				<h1 id="missing-content">Something Went Wrong</h1>
				<p>This page generated without any content!</p>
			</slot>
			<hr />
		</main>

		<slot name="footer">
			<Footer />
		</slot>
	</body>
</html>
