---
import "../styles/variables.css";
import "../styles/colors.css";
import "../styles/code.css";
import "../styles/typography.css";
import "../styles/style.css";
import Emoji from "@/components/Emoji.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";

interface Props {
	/**
	 * The class that should be on the document's `<main>` tag.
	 *
	 * @default "content"
	 */
	contentClass?: string;

	/**
	 * The content title.
	 */
	title?: string;

	/**
	 * The content description.
	 */
	description?: string;

	/**
	 * A URL for an image to use in OpenGraph metadata.
	 */
	image?: URL | null;

	/**
	 * Alt text for the image used in OpenGraph metadata. Ignored if
	 * no `image` was specified.
	 */
	imageAlt?: string | null;
}

const {
	contentClass = "content",
	title = "An Average Developer",
	description = "Helpful open-source software.",
	image,
	imageAlt,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noai" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="icon" type="image/png" href="data:image/png;base64," />
		<link rel="author" href="/humans.txt" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			href="/ways/feed.xml"
			type="application/rss+xml"
			title="RSS feed for avg's Ways folder"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="description" content={description} />
		{
			image && (
				<>
					<meta property="og:image" content={image.href} />
					<meta property="og:image:secure_url" content={image.href} />
				</>
			)
		}
		{image && (imageAlt || imageAlt === "") && <meta property="og:image:alt" content={imageAlt} />}
		<meta name="twitter:card" content="summary" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot name="header">
			<header>
				<Nav />
			</header>
		</slot>

		<main class={contentClass}>
			<slot>
				<Emoji name="sick" />
				<h1 id="missing-content">Something Went Wrong</h1>
				<p>This page generated without any content!</p>
			</slot>
		</main>

		<slot name="footer">
			<hr />
			<Footer />
		</slot>
	</body>
</html>
